

h1 {
    color: rgb(0, 0, 0);
  }
h2 {
    color: rgb(0, 0, 0);
  }

p {
    color: rgb(5, 5, 5);
  }

link{
    color: rgb(32, 52, 143);
  }

.the-icons {
  padding: 15px;
}

img{
  border-radius: 50%;
  width: 300px;
  margin-left: 40%;
}

@media (max-width: 1200px) {
  img{
    border-radius: 50%;
    width: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}





